<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Battletracker </title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/dm.js"></script>
</head>
<body>
  <h1> Battletracker - DM's View </h1>

  <p> This will become the DM's overview screen. I think it should have two
  rosters, one which mirrors the roster visible on the Party View, and a secret
  roster where the DM can park out-of-use or yet-to-be-revealed combatants.
  Surrouding these lists, an array of buttons and panels allow the DM to create
  new combatants or do quick calculations, take notes, or send images to the
  party screen. I'm just spitballing here.</p>

  <p> There is no design yet.</p>

  <div id="example"></div>
</body>
</html>
