<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Battletracker </title>
  <link rel="stylesheet" href="/css/party.css">
  <!-- script src="/lib/react.js"></script-->
  <!-- script src="/party.js"></script-->
</head>
<body>
  <div id="party-view" class="layout-columns">

    <div class="col">

      <table class="roster">
        <tr class="combatant">
          <td class="name"> Player A </td>
          <td class="hp"> 100 </td>
          <td class="statuses">
            <span class="status red"> Fire </span>
            <span class="status blue"> Sleep </span>
          </td>
        </tr>

        <tr class="combatant current">
          <td class="name"> Monster B </td>
          <td class="hp"> 90 </td>
          <td class="statuses"></td>
        </tr>

        <tr class="combatant">
          <td class="name"> Player B </td>
          <td class="hp"> 56 </td>
          <td class="statuses">
            <span class="status green"> Poison </span>
          </td>
        </tr>

        <tr class="combatant">
          <td class="name"> Monster A </td>
          <td class="hp"> 37 </td>
          <td class="statuses">
            <span class="status grey"> Inc. </span>
          </td>
        </tr>
      </table>

    </div>

    <div class="col">

      <div class="encounter-metadata">
        <div class="data">
          <label> Round: </label> 9
        </div>

        <div class="data">
          <label> Turn: </label> Monster B
        </div>

        <div class="data">
          <label> Phase: </label> Start
        </div>
      </div>

    </div>

  </div>
</body>
</html>
