<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title> Battletracker </title>
  <link rel="stylesheet" href="/css/style.css">
  <script src="/party.js"></script>
</head>
<body>
  <h1> Battletracker - Party's View </h1>

  <p> This will become the Party's view of the combat. It's primary feature
  will be a roster of combatants in intiative order. It will show whose turn it
  is currently, HP and statuses for each combatant, and display neat special
  effects when things happen like flashing red when someone gets hurt. It could
  also have a mode where the DM can fullscreen any image they need to show. </p>

  <h2> Socket.IO Test Zone </h2>

  <h3> Socket Status: <span id="status"> not connected </span> </h3>
  <h3> Server Pulse: <span id="pulse"> </span> </h3>

  <h2> React Test Zone </h2>

  <script src="http://fb.me/JSXTransformer-0.9.0.js"></script>

  <div id="example"></div>

</body>
</html>
